# addIgnore True
# size_flag 0
# threshold 2.0

# .gitignore 
# find . -name "*.py" -exec git add {} +
# git add \*.py

.DS_Store
.idea/
walk.sh
addIgnore.py
envs.py
path.sh
envs.sh
pyutils

.idea
algorithms-java/out
*.class
.settings
bin
.classpath
.project
*.bak
test_functions
__init__.py
temp.md
temp.py
temp.txt
*.html


cmake-build-debug/
cmake-build-release/
out/


algorithms/java/classes/
algorithms/java/java.iml
algorithms/java/production/# 1.24M
algorithms/cmake-build-debug/leetcode-algorithms.cbp
# 1.07M
algorithms/cmake-build-debug/algorithms.cbp
# 1.23M
algorithms/cmake-build-debug/cpp/_000_topics/merge/_006_MergeTwoSortedArrays/CXX.cbp
# 4.55M
.git/objects/pack/pack-7c4ce0d60b0281cc4058f833b91837e13a0c8930.pack
# 2019-09-07 18:16:27.738024


*.pdf



