.idea
algorithms-java/out
*.class
.settings
bin
.classpath
.project
*.bak
test_functions
__init__.py
temp.md
temp.py
temp.txt
.DS_Store
*.html


cmake-build-debug/
out/


algorithms/java/classes/
algorithms/java/java.iml
algorithms/java/production/